body {
    color: #000;
}

.container {
    background-color: #eee;
    border-radius: 1.5em;
}

.no-img {
    padding: 20px;
}

img {
    margin: 5px;
    border: 1px solid #000;
}

.imgRatingHolder {
    width: 160px;
    height: 145;
    display: inline-block;
}

.rating {
    width: 150px;
    margin: 10px 5px 0px 5px;
    text-align: center;
}

#topic-images {
    background-color: #101;
    color: #fff;
}

.apiImgs {
    padding: 20px;
}

h1 {
    text-align: center;
}

.head,
.footer {
    background-color: #3364b0;
}

h1,
h3,
h4 {
    font-weight: bold;
}

.desc,
h3 {
    margin: 10px;
}

h4 {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px #888;
}

.topics {
    margin: 5px;
}

.border-top-radius {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.border-bottom-radius {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 11px;
    clear: both;
}

#search-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topic-btns {
    margin-top: 20px;
    margin-bottom: 20px;
}
